In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('./datasets/train.csv')

In [3]:
testing = pd.read_csv('./datasets/test.csv')

In [4]:
testing.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [5]:
testing['SalePrice'] = df['SalePrice'].mean()   # generate null prediction

In [6]:
testing.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,181469.701609
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,8,2006,WD,181469.701609
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,New,181469.701609
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,WD,181469.701609
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,185,0,NaN,NaN,NaN,0,7,2009,WD,181469.701609

#### Submit null projections

In [7]:
testing[['Id', 'SalePrice']].to_csv('./submissions/null_submit.csv', index=False)

#### Score null model on train data

In [8]:
linreg = LinearRegression()

In [9]:
linreg.fit(np.full_like(df['SalePrice'], df['SalePrice'].mean()).reshape(-1,1), df['SalePrice'])

LinearRegression()

#### Train/test split null data

#### Fit null model

#### Null model has explained 0% of the variance for the test set

In [10]:
linreg.score(np.full_like(df['SalePrice'], df['SalePrice'].mean()).reshape(-1,1), df['SalePrice'])

0.0

#### Null model RMSE = $79,239

In [11]:
mean_squared_error(df['SalePrice'], np.full_like(df['SalePrice'], df['SalePrice'].mean()).reshape(-1,1), squared=False)

79239.33504472437

#### slightly more accurate basic, basic model

In [12]:
linreg.fit(df[['Gr Liv Area']], y = df['SalePrice'])

LinearRegression()

In [13]:
preds = linreg.predict(testing[['Gr Liv Area']])

In [14]:
testing['SalePrice'] = preds

In [15]:
testing[['Id', 'SalePrice']].to_csv('./submissions/basic_submit.csv', index=False)