<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [128]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [10]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [130]:
for i in range(1,21):
    if not i % 2 == 0:
        print(i)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [21]:
total = 0
for i in range(0,100):
    total += i
print(total)

4950

38) For each friend in your `friends` list, print `"PERSON IS AWESOME!"` in all caps, where `PERSON` is of course replaced with your friend's name.

In [22]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [131]:
for person in friends:
    print(f"{person.upper()} IS AWESOME!")

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `"PERSON IS AWESOME!"` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [132]:
vowels = ["a", "e", "i", "o", "u"]
for person in friends:
    if person[-1].lower() in vowels:
        print(f"{person.upper()} IS AWESOME!")
    else:
        print(f"{person.lower()} is ok...")

ALICE IS AWESOME!
bob is ok...
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

40) For each number between 1 and 30, if a number is divisible by 3, print `"Fizz"`. Otherwise, just print the number.

In [28]:
for i in range(1, 31):
    if i % 3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30, if a number is divisible by 5, print `"Buzz"`. Otherwise, just print the number.

In [29]:
for i in range(1, 31):
    if i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29

42) **FIZZBUZZ!** For each number between 1 and 30,
* if a number is divisible by 3, print `"Fizz"`
* if a number is divisible by 5, print `"Buzz"`
* if a number is divisible by both 3 and 5, instead print `"Fizzbuzz"`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [133]:
for i in range(1, 31):
    if i % 3 == 0 and i % 5 == 0:
        print("Fizzbuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [134]:
sentence = "This is a good sentence, OK!?"

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [135]:
the_count = 0
vowels = ["a", "e", "i", "o", "u"]
for char in sentence:
    if char.lower() in vowels:
        the_count += 1
print(the_count)

9

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [136]:
sentence_rm = ""
for char in sentence:
    if char.lower() not in vowels:
        sentence_rm += char
print(sentence_rm)

Ths s  gd sntnc, K!?

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [178]:
fav_number = 13
is_prime = True

if fav_number >= 2:
    for num in range(2, fav_number):
        if fav_number % num == 0:
            is_prime = False
else:
    is_prime = False

f"{fav_number} is prime: {is_prime}"

'13 is prime: True'

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [166]:
num = 0


def palindrome_check(number):
    is_palindrome = True
    number_str = str(number)

    if len(number_str) % 2 != 0:
        for n in range(0, len(number_str)):
            opposite_number_index = (n + 1) * -1
            if number_str[n] != number_str[opposite_number_index]:
                is_palindrome = False
    else:
        is_palindrome = False
    
    return is_palindrome


if palindrome_check(num):
    print(f"{num} is a palindrome")
else:
    print(f"{num} is not a palindrome")

0 is a palindrome

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [167]:
largest_palindrome = 0
for num in range((99*99), 0, -1):
    
    if palindrome_check(num):
        largest_palindrome = num
        break
    
print(f"{largest_palindrome} is the largest palindrome")

999 is the largest palindrome

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

49) Create a list of the numbers 1 through 10.

In [79]:
a_list = [_ for _ in range(1,11)]
print(a_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [81]:
a_list_of_squares = [_**2 for _ in range(1, 11)]
print(a_list_of_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [82]:
even_numbers = [_ for _ in range(18, 48) if _ % 2 == 0]
print(even_numbers)

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [83]:
even_squares = [_**2 for _ in range(1, 21) if _ % 2 == 0]
print(even_squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [89]:
sum_of_cubes = sum([_**3 for _ in range(7, 38)])
print(sum_of_cubes)

493768

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [90]:
nums_divisibile_by_3_5 = [_ for _ in range(1, 31) if (_ % 3 == 0 or _ % 5 == 0)]
print(nums_divisibile_by_3_5)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [ ]:
friends = ["Alice", "Bob", "Charlie", "Derek"]

In [91]:
friends = [_.upper() for _ in friends]
print(friends)

['ALICE', 'BOB', 'CHARLIE', 'DEBBIE']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [92]:
friends_not_ending_in_vowel = [_ for _ in friends if _[-1].lower() in vowels]
print(friends_not_ending_in_vowel)

['ALICE', 'CHARLIE', 'DEBBIE']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [169]:
sentence_without_vowels = "".join([_ for _ in sentence if _.lower() not in vowels])
print(sentence_without_vowels)

Ths s  gd sntnc, K!?

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `["Jan 1.xlsx", "Jan 2.xlsx", ... , "Jan 31.xlsx"]`.

In [96]:
january_days = [f"Jan {_}.xlsx" for _ in range(1, 32)]
print(january_days)

['Jan 1.xlsx', 'Jan 2.xlsx', 'Jan 3.xlsx', 'Jan 4.xlsx', 'Jan 5.xlsx', 'Jan 6.xlsx', 'Jan 7.xlsx', 'Jan 8.xlsx', 'Jan 9.xlsx', 'Jan 10.xlsx', 'Jan 11.xlsx', 'Jan 12.xlsx', 'Jan 13.xlsx', 'Jan 14.xlsx', 'Jan 15.xlsx', 'Jan 16.xlsx', 'Jan 17.xlsx', 'Jan 18.xlsx', 'Jan 19.xlsx', 'Jan 20.xlsx', 'Jan 21.xlsx', 'Jan 22.xlsx', 'Jan 23.xlsx', 'Jan 24.xlsx', 'Jan 25.xlsx', 'Jan 26.xlsx', 'Jan 27.xlsx', 'Jan 28.xlsx', 'Jan 29.xlsx', 'Jan 30.xlsx', 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [97]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [99]:
dollars = [round((_ * 1.1), 2) for _ in euros]
print(dollars)

[4.95, 7.37, 3.58, 10.99, 14.03, 0.39]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [100]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [101]:
can_ride = [_ for _ in heights if _ >= 60]
print(can_ride)

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [172]:
height_check = [None if _ < 60 else _ for _ in heights]
print(height_check)
# the hint is confusing when paired with the question, so I will code both..
[print("Tall enough" if _ >= 60 else "Too short") for _ in heights] # this is going to create a list of None values because the print() function has no value

[71, None, None, 65, 68, 60, None, None]
Tall enough
Too short
Too short
Tall enough
Tall enough
Tall enough
Too short
Too short

[None, None, None, None, None, None, None, None]

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [104]:
people = {
    "Aaron": 58,
    "Barbara": 66,
    "Clarence": 62,
    "Donovan": 55,
    "Erika": 70,
    "Fernando": 72
}

In [105]:
tall_enough = [person for person in people.keys() if people[person] >= 60]
print(tall_enough)

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [110]:
people = {
    "Aaron": [87, 52, 78],
    "Barbara": [92, 79, 85],
    "Clarence": [42, 68, 55],
    "Donovan": [95, 100, 87],
    "Erika": [62, 88, 47],
    "Fernando": [84, 99, 0]
}
print(people)

{'Aaron': [87, 52, 78], 'Barbara': [92, 79, 85], 'Clarence': [42, 68, 55], 'Donovan': [95, 100, 87], 'Erika': [62, 88, 47], 'Fernando': [84, 99, 0]}

In [107]:
final_grades = [max(grade) for grade in people.values()]
print(final_grades)

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [113]:
dict_final_grades = {person_name:max(final_grade) for (person_name, final_grade) in people.items()}
print(dict_final_grades)

{'Aaron': 87, 'Barbara': 92, 'Clarence': 68, 'Donovan': 100, 'Erika': 88, 'Fernando': 99}

65) Using the two lists defined below, create the following resulting list:

`["AZ", "BY", "CX", "DW", "EV"]`

* _Hint:_ Check out the `zip()` function.

In [114]:
letters_a = ["A", "B", "C", "D", "E"]
letters_z = ["Z", "Y", "X", "W", "V"]

In [117]:
combined_list = [a + z for (a, z) in zip(letters_a, letters_z)]
print(combined_list)

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    "A is letter 1 of the alphabet",
    "B is letter 2 of the alphabet",
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [120]:
alphabet_order = [f"{_} is letter {i+1} of the alphabet" for i, _ in enumerate(letters_a)]
print(alphabet_order)

['A is letter 1 of the alphabet', 'B is letter 2 of the alphabet', 'C is letter 3 of the alphabet', 'D is letter 4 of the alphabet', 'E is letter 5 of the alphabet']

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [121]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [122]:
math.sin(math.pi / 2)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [124]:
math.log(math.sqrt(math.e))

0.5

c) $e^{3!}$

In [125]:
math.e**math.factorial(3)

403.428793492735

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ thees two functions and verify the above examples are true.

In [126]:
from math import ceil
from math import floor

print(ceil(3.8))
print(ceil(3.2))
print(floor(3.8))
print(floor(3.2))

4
4
3
3

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [127]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.